0.0.0.0 
browse

root /wwwroot
log stdout
errors stdout

expires {
    match .js$ 2h
}

proxy / http://{{tmpl.http_to}} {
    transparent
    header_upstream Origin {>Origin}
    except /public /wss
}

header / {
    X-Content-Type-Options nosniff
}
proxy /wss http://{{tmpl.ws_to}} {
    transparent
    websocket 
}

